{% extends 'account/base.html' %}

{% block title %}Sign Up - E-Commerce{% endblock %}

{% block content %}
<h2>Create Account</h2>
<form method="post">
    {% csrf_token %}
    
    <div class="form-group">
        {{ form.username }}
        {% if form.username.errors %}
            <ul class="errorlist">
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="form-group">
        {{ form.email }}
        {% if form.email.errors %}
            <ul class="errorlist">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="form-group">
        {{ form.password1 }}
        {% if form.password1.errors %}
            <ul class="errorlist">
                {% for error in form.password1.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="form-group">
        {{ form.password2 }}
        {% if form.password2.errors %}
            <ul class="errorlist">
                {% for error in form.password2.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<div class="form-links">
    <p>Already have an account? <a href="{% url 'account:signin' %}">Sign In</a></p>
</div>
{% endblock %}


